body {
	margin: 0;
	padding: 1em;
	background: #000;
}
* {
	box-sizing: border-box;
}

textarea, #playa {
	border: 1px #eee;
	padding: 1em;
	width: 300px;
	height: 200px;
	font-size: 100%;
	resize: none;
	overflow: auto;
	font-family: monospace;
	line-height: 1em;
}
pre {
	margin: 0;
	padding: 0;
	background: #fff;
}
pre.active {
	background: #9f9;
}
#playa {
	position: absolute;
	top: 0px;
	display: none;
}

button {
	float:left;
	font-size: 100%;
	background: #ffa400;
	border-radius: 4px;
	padding: 7px 10px;
	border: none;
	color: #fff;
}
button:hover {
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
button:disabled {
	background: #666;
	color: #888;
}
button:nth-of-type(2) {
	float:right;
	background: #0094ca;
}


#legend {
	clear: both;
	padding-top: 1em;
}
#legend .led:before {
	font-size: 55%;
	text-align: right;
	top: 0px;
	left: 15px;
	height: 1em;
	color: #ddd;
}

#lights {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 400px;
	margin-left: 2em;
}
#code {
	width: 300px;
	position: relative;
}
#code, #lights {
	float:left;
}

.led {
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin: 15px;
    background: linear-gradient(rgb(102,102,102) 0%, rgb(34,34,34) 50%, rgb(51,51,51) 100%);
    transition: background 1s;
    transform: scale(2);
}
.led:before {
	content: attr(data-content);
	z-index: 2;
	position: relative;
	top: 10px;
	left: 0px;
	font-size: 5px;
	color: #444;
	float:left;
	text-align: center;
	width: 10px;
}


.led:after {
    display: block;            
    content: '';
    margin-left: 1px;
    margin-right: 1px;
    width: 8px;
    height: 6px;
    border-top-right-radius: 4px 3px;
    border-top-left-radius: 4px 3px;
    border-bottom-right-radius: 4px 3px;
    border-bottom-left-radius: 4px 3px;
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 100%);
}

input[type=range] {
	margin-top: 1em;
	width: 100px;
	margin-left: 10px;
	position: relative;
}

input[type=range]:after {
	content: "\1f407";
	top: -1em;
	position: absolute;
	right: 0em;
	z-index: 10;
}
input[type=range]:before {
	content: "\1f422";
	top: -1em;
	position: absolute;
	z-index: 10;
}



